node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore
README.md
.env
.env.*
*.log
coverage
.vscode
.idea
dist
build
*.md
tests
__tests__
test
docs
*.test.js
*.spec.js
.eslintrc*
jest.config.js 